.interactiveRatingModal {
    // font-size: xx-large;
    display: grid;
    place-content: center;
    height: 100vh;
    max-height: 100%;
    // overflow: none;
    padding-bottom: 0;

    // width: 350px;
}