@use '_colors' as _colors;


.ratingModal {
    width: 415px;
    height: 415px;
    display: flex;
    justify-content: center;
    // background-color: _colors.$ModeratelyBlue;
    background: radial-gradient(circle at top, #252C36 15%, #171E26 70%);
    border-radius: 30px;
    box-shadow: 1px 1px #1A1F25;
}

.ratingContent {
    padding: 20px;
}

.valueButton {
    background-color: _colors.$DarkBlue;
    transition: .15s;
}

.valueButtonSelected {
    background-color: _colors.$MediumGrey;
    transition: .15s;
}

.valueButton:hover{
    background-color: _colors.$Orange;
}
