@use '_colors' as _colors;


.ratingModal {
    width: 350px;
    display: flex;
    justify-content: center;
    background-color: _colors.$DarkBlue;
    border-radius: 10px;
}

.ratingContent {
    padding: 20px;
}

.valueButton {
    background-color: _colors.$MediumGrey;
    transition: .15s;
}

.valueButtonSelected {
    background-color: _colors.$LightGrey;
    transition: .15s;
}

.valueButton:hover, .valueButtonSelected:hover{
    background-color: _colors.$Orange;
}
