@use '_colors' as _colors;

.thankModal {
    margin-left: 7%;
    width: 86%;
    height: 362px;
    display: flex;
    justify-content: center;
    // background-color: _colors.$ModeratelyBlue;
    background: radial-gradient(circle at top, #252C36 15%, #171E26 70%);
    border-radius: 15px;
    box-shadow: 1px 1px #1A1F25;
}

.thankContent {
    padding: 22.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.thankLogo {
    margin-top: 0;
    transform: scale(.9);
}

.thankScoreBadge {
    background-color: _colors.$DarkBlue;
    color: _colors.$Orange;
    height: 30px;
    border-radius: 16px;
    display: grid; 
    place-content: center;
    padding: .5rem;
    padding-top: .15rem;
    padding-bottom: .15rem;
    font-size: .85rem;
    letter-spacing: .03rem;
    margin-bottom: 0;
}

.thankHeader {
    color: _colors.$White;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 0px;
}

.thankParagraph {
    color: _colors.$LightGrey;
    font-size: .88rem;
    // margin-right: 0;
    line-height: 1.5;
}


@media screen and (min-width: 427px ) {
    .thankModal{
        width: 415px;
        height: 415px;
        margin-left: 0;
        border-radius: 2rem;
    }

    .thankContent {
        padding-left: 22.5px;
        padding-right: 22.5px;
        padding-top: 48px;
        justify-content: space-between;
    }

    .thankLogo {
        transform: scale(1);
        // margin-bottom: 38px;
        padding-right: 8px;
        // padding-bottom: 20px;
    }

    .thankScoreBadge {
        // margin-bottom: 8px;
        // font-weight: 400;
        font-size: .88rem;
        height: 22px;
        padding-top: 8px;
        padding-right: 17px;
        padding-left: 17px;
        padding-bottom: 2px;
        border-radius: 22px;
        
        // margin-top: 35px;
        margin-top: 20px;
        margin-bottom: 15px;
    }

    .thankHeader {
        margin-top: 7px;
        margin-bottom: 7px;

        font-size: 1.7rem;
    }

    .thankParagraph {
        // margin: 0;
        // margin-bottom: 0;
        font-size: .95rem;
        padding-right: 15px;
        padding-left: 10px;
        margin-bottom: 20px;
        margin-top: 0;
        // line-height: 1.6;
        // padding-bottom: 10px;

    }

}