.App {
  text-align: center;
  height: 100%;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

#page-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  // max-height: 100%;
  max-width: 100%;

  // display: grid;
  // place-content: center;
}

#content-wrap {
  // display: grid;
  // place-content: center;
  // height: 100vh;
  // max-height: 100%;
  // padding-bottom: 1rem;
}

.attribution {
  // padding-top: 1rem;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 1rem;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}