@use 'Styles/_colors' as _colors;
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');


.App {
  text-align: center;
  height: 100%;
  font-size: 15px;
  font-family: 'Overpass', sans-serif;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

#page-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  // max-height: 100%;
  max-width: 100%;

  background-color: _colors.$VeryDarkBlue;

  // display: grid;
  // place-content: center;
}

// #content-wrap {
  // padding-bottom: 1rem;
// }

.attribution {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 1rem;
  font-size: 11px;
  text-align: center;
  color: _colors.$MediumGrey 
}

.attribution a {
  color: hsl(228, 45%, 44%);
  transition: .11s;
}

.attribution a:hover {
  color: _colors.$Orange;
}